@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0c0b0b;
    --foreground: 222.2 84% 4.9%;

    --primary: #fff;
    --primary-foreground: var(--background);

    --secondary: #ff0000;
    --secondary-foreground: var(--primary);

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
